body {background-color: #BAC9BF;}

.title {
    padding:10vh;
    background: url("title.545f58f6b12a.png");
    background-position:center;
    background-size:  100vh 60vh;
    background-repeat: no-repeat;
}

.container {
    position:relative;
    top:12vh;
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap:12vh;
}

.option1{
    position: center;
    display: inline-block;
    padding:12vh 22vh;
    background: url("single_player.78af7477e7ce.png");
    background-position:center;
    background-size: 95vh 75vh;
    background-repeat: no-repeat;
    border: none;
}

.option2{
    position: center;
    display: inline-block;
    padding:12vh 22vh;
    background: url("multi_player.3c14b51f1219.png");
    background-position:center;
    background-size: 95vh 75vh;
    background-repeat: no-repeat;
    border: none;
}
